#about {
  color: #222;
  margin-top: 10vh;
  display: flex;
  align-items: flex-end;

  .about-left-column {
    margin-left: 20%;
    width: 30%;

    h2 {
      color: $button-color;
      font-size: 1em;
    }
    .divider {
      width: 3em;
      border-top: medium solid $button-color;
      margin-bottom: 3em;
    }
    p:last-child {
      margin-bottom: 10vh;
    }
  }
  .about-right-column {
    width: 50%;

    img {
      width: 80%;
      margin: 0 10%;
    }
  }
}
