#about {
  color: #222;
  margin-top: 10vh;

  .about-header {
    margin-left: 10%;
    width: 40%;

    h2 {
      color: $button-color;
      font-size: 1em;
    }
    .divider {
      width: 3em;
      border-top: medium solid $button-color;
    }
  }

  .about-columns {
    display: flex;
    align-items: flex-end;

    .about-left {
      margin-left: 10%;
      width: 40%;

      p:first-child {
        margin-top: 3em;
      }
      p:last-child {
        margin-bottom: 5vh;
      }
    }
    .about-right {
      margin-right: 10%;
      width: 40%;

      img {
        width: 100%;
      }
    }
  }
}

@media all and (max-width: 1000px) {
  #about {
    .about-header, .about-columns {
      margin-left: 15%;
      width: 70%;
    }
    .about-columns {
      flex-direction: column-reverse;
      align-items: center;

      .about-right, .about-left {
        margin: 0;
        width: 100%;

        p:first-child {
          margin-top: 0;
        }
        img {
          margin-top: 3em;
        }
      }
    }
  }
}

@media all and (max-width: 600px) {
  #about {
    .about-header, .about-columns {
      margin-left: 10%;
      width: 80%;
    }
  }
}
