@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}
@mixin transition($property, $duration, $timing) {
  -webkit-transition: $property $duration $timing;
  -moz-transition: $property $duration $timing;
  -ms-transition: $property $duration $timing;
  -o-transition: $property $duration $timing;
  transition: $property $duration $timing;
}

.contact {
  color: $heading-color;
  width: 100%;
  background: $bg-color;
  padding: 3.1rem 0 4rem;

  .contact-box {
    margin: 0 auto;
    max-width: 42rem;
    width: 80%;
    text-align: center;

    .contact-heading {
      font-size: 1.6rem;

      &::after {
        content: '';
        background: $akai-yellow;
        width: 2.8rem;
        height: .18rem;
        margin: 1.6rem auto;
        display: block;
      }
    }

    .contact-info {
      margin: .9rem 1.9rem 3rem;
      color: $text-color;
      line-height: 1.6rem;
      font-size: 1rem;
    }

    .contact-form {
      margin: 0 auto 1.6rem;
      display: block;
      max-width: 29rem;

      .email, .message {
        box-sizing: border-box;
        font-family: inherit;
        font-size: .9rem;
        border: none;
        width: 100%;
        padding: .9rem;
        border-bottom: $border;
        background: transparent;
        opacity: .8;
        color: $text-color;

        &:focus {
          outline: none;
        }

        &.disable:invalid {
          border-bottom: $borderInvalid;
        }
      }

      .message {
        margin: 1.1rem 0;
        resize: none;
      }

      .send-btn {
        font-family: inherit;
        font-size: 1rem;
        font-weight: bold;
        color: #fff;
        width: 16rem;
        padding: .9rem .2rem;
        margin-top: .9rem;
        background: $akai-yellow;
        border: none;
        @include border-radius(25px);
        box-shadow: 0 5px 30px -5px #aaa;
        @include transition(all, 0.4s, ease-out);

        &:hover {
          background: darken($akai-yellow, 6%);
          color: #fff;

        }
      }

    }

  }
}

@media screen and (max-width: 420px) {
  html, body {
    font-size: 14px !important;
  }
}