section[class="date"] {
  padding: 10vh 0;
  color: $text-color;
  background-color: $bg-color;
  display: flex;
  justify-content: center;
  text-align: center;

  .date-column {
    width: 12em;
    margin: 0 4em;

    img {
      width: 6em;
    }
    h1 {
      color: $heading-color;
      margin: 0;
    }
    h2 {
      font-size: 1em;
      // font-weight: normal;
      margin: 0;
    }

    &:first-child {
      h1 {
        font-size: 3em;
        line-height: 1.1em;
        margin-top: 10px;
      }
    }
    &:last-child {
      h1 {
        font-size: 1em;
        margin: 18px 0 5px;
      }
    }
  }
}

@media all and (max-width: 800px) {
  section[class="date"] {
    .date-column {
      margin: 0 2em;
    }
  }
}
@media all and (max-width: 350px) {
  section[class="date"] {
    .date-column {
      margin: 0;
    }
  }
}
