section[class="date"] {
  padding: 10vh 0;
  color: $text-color;
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  a {
    color: $akai-yellow;
    text-decoration: none;
    @include transition(all, 0.4s, ease-out);

    &:hover {
      color: $akai-yellow-darkened;
    }
  }

  .date-row {
    display: flex;
    justify-content: center;
    margin-top: 2em;

    &:first-child {
      margin-top: 0;
    }
  }
  .date-column {
    width: 12em;
    margin: 0 4em;

    img {
      width: 6em;
    }
    h1 {
      color: $heading-color;
      margin: 0;
    }
    h2 {
      font-size: 1em;
      // font-weight: normal;
      margin: 0;
    }
// REGULOWANIE WIELKOŚCI CZCIONKI POD IKONAMI
    &:first-child {
      h1 {
        font-size: 3em;
        line-height: 1.1em;
        margin-top: 10px;
      }
    }
    &:last-child {
      h1 {
        font-size: 1em;
        margin: 18px 0 5px;
      }
    }
  }
  .date-add {
    font-size: 1.1em;
    font-weight: bold;
  }
  .date-calendar {
    margin-right: 2em;
    font-size: 1.1em;
    font-weight: bold;

    &:last-child {
      margin-right: 0;
    }
  }

  @media all and (max-width: 800px) {
    .date-column {
      margin: 0 2em;
    }
  }
  @media all and (max-width: 350px) {
    .date-column {
      margin: 0;
    }
  }
}
