$orange: #ff9f21;


@mixin shadow(){

}


section[class=event-detail-container]{
  width: 100%;
  background-color: white;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

.event-detail{
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
  position: relative;
  text-align: center;
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;

  &--time{
    width: 10%;
    margin: 0;
    box-sizing: border-box;
    font-weight: 900;
    font-size: 25px;
  }
  &--separator{
    width: 10%;
    div{
      margin-top: 15px;
      margin-left: 25%;
      margin-right: 25%;
      border-bottom: solid $orange 3px;
      box-sizing: border-box;
    }
  }

  &--description{
    width: 65%;
    margin: 0;
    box-sizing: border-box;
    text-align: left;
  }
  &--title{
    font-weight: 800;
    font-size: 20px;
    margin-right: 50px;
  }
  &--author{
    color: gray;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  &--toggle{
    color: gray;
    text-decoration: underline;

  }
  &--toggle:hover{
    cursor: pointer;
  }
  &--more{
    position: relative;
    text-align: justify;
    display: flex;
    height: 0;
    overflow: hidden;
    color: gray;
    font-size: 16px;
    strong{
      color: black;
    }
  }

  &--about{
    padding: 10px;
    width: 50%;
  }
  &--learn{
    padding: 10px;
    width: 50%;
    ul{
      list-style-type: none;
    }
    li{
      position: relative;
      margin-bottom: 10px;
    }
    li::before{
      content: "+";
      display: inline-block;
      position: absolute;
      left: -25px;

      color: orange;
      font-size: 20px;
      font-weight: 700;
    }
  }
  &--photo{
    padding: 5px;
    width: 15%;
    margin: 0;
    box-sizing: border-box;
    position: relative;

    img{

      width: 100%;
      height: auto;
      border-radius: 50%;
      -webkit-box-shadow: 3px 3px 5px 0px rgba(120,120,120,1);
      -moz-box-shadow: 3px 3px 5px 0px rgba(120,120,120,1);
      box-shadow: 3px 3px 5px 0px rgba(120,120,120,1);
    }
  }
}