@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}
@mixin transition($property, $duration, $timing) {
  -webkit-transition: $property $duration $timing;
     -moz-transition: $property $duration $timing;
      -ms-transition: $property $duration $timing;
       -o-transition: $property $duration $timing;
          transition: $property $duration $timing;
}
@mixin appearance() {
  -webkit-appearance: button;
     -moz-appearance: button;
      -ms-appearance: button;
       -o-appearance: button;
          appearance: button;
}

$font-color: #eee;
$font-color-hover: rgb(250,162,27);
$border-color: #eee;
$border-color-hover: rgb(250,162,27);
$button-color: rgb(250,162,27);
$button-color-hover: rgb(250,120,0);



body {
    margin: 0;
}
a {
    color: $font-color;
    text-decoration: none;
}
a.button {
    padding: 0.7em 3em;
    font-size: 0.9em;
    font-weight: bold;
    color: $font-color;
    background-color: $button-color;
    border-style: none;
    border-width: 0;
    @include appearance();
    @include border-radius(2em);
    @include transition(all, 0.4s, ease-out);

    &:hover {
        background-color: $button-color-hover;
    }
}
a.button-alt {
  background-color: transparent;
  border-style: solid;
  border-width: thin;

  &:hover {
    background-color: $button-color-hover;
    border-color: $button-color-hover;
  }
}

#home {
    background-image: url(../img/background.png);
    color: $font-color;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    position: relative;
    font-size: 1.2em;

    .home-topbar {
        margin: 0 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .home-logo {
          height: 4em;
        }
        .home-logo, .button {
          margin-top: 5vh;
        }
    }
    .home-title {
        margin: 20vh 25%;
        display: flex;
        text-align: center;
        flex-direction: column;

        .page-subtitle {
          font-size: 1.2em;
          margin: 0;
        }
        .page-title {
          font-size: 4em;
          margin: 0;
        }
        .divider {
          width: 3em;
          border-top: medium solid $button-color;
          margin: 1vh 50% 2vh 50%;
          transform: translateX(-50%);
        }
        .page-description {
          font-size: 1em;
        }
        a.button {
          width: 10em;
          margin: 5vh 50% 0 50%;
          transform: translateX(-50%);
        }
    }
    .home-scroll {
        font-size: 0.9em;
        position: absolute;
        left: 50%;
        bottom: 3vh;
        transform: translateX(-50%);
        @include transition(all, 0.4s, ease-out);

        .home-icon-container {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            .home-scroll-description {
              margin-bottom: 0.5em;
            }
        }
        &:hover {
            color: $font-color-hover;
            border-color: $border-color-hover;
        }
    }
}

@media all and (max-width: 1400px), (max-height: 800px) { // width < 1400px || height < 800px
  #home {
    font-size: 1rem;
  }
}

@media all and (max-width: 1100px), (max-height: 700px) { // width < 1100px || height < 700px
  #home {
    font-size: 0.9rem;

    .home-title {
      margin-left: 20%;
      margin-right: 20%;
    }
  }
}

@media all and (max-width: 900px) {  // width < 900px
  #home {
    .home-title {
      margin-left: 10%;
      margin-right: 10%;
    }
  }
}

@media all and (max-height: 700px) {  // height < 700px
  #home {
    .home-title {
      margin-top: 15vh;
    }
  }
}

@media all and (max-height: 500px) {  // height < 500px
  #home {
    .home-title {
      margin-top: 5vh;
    }
  }
}

@media all and (max-width: 600px), (max-height: 400px) {  // width < 400px
  #home {
    font-size: 0.8rem;

    .home-title {
      .page-subtitle {
        font-size: 1.2em;
      }
      .page-title {
        font-size: 2em;
      }
    }
  }
}
