@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}
@mixin transition($property, $duration, $timing) {
  -webkit-transition: $property $duration $timing;
     -moz-transition: $property $duration $timing;
      -ms-transition: $property $duration $timing;
       -o-transition: $property $duration $timing;
          transition: $property $duration $timing;
}
@mixin appearance() {
  -webkit-appearance: button;
     -moz-appearance: button;
      -ms-appearance: button;
       -o-appearance: button;
          appearance: button;
}

$font-color: #eee;
$font-color-hover: rgb(250,162,27);
$border-color: #eee;
$border-color-hover: rgb(250,162,27);
$button-color: rgb(250,162,27);
$button-color-hover: rgb(250,120,0);



body {
    margin: 0;
}
a {
    color: $font-color;
    text-decoration: none;
}
a.button {
    @include appearance();

    padding: 0.7em 3em;
    font-size: 0.9em;
    font-weight: bold;
    color: #eee;
    background-color: $button-color;
    @include border-radius(2em);
    border-style: none;
    border-width: 0;

    @include transition(all, 0.4s, ease-out);

    &:hover, &:focus {
        background-color: $button-color-hover;
    }
}
a.button-alt {
  background-color: transparent;
  border-style: solid;
  border-width: thin;
}

#home {
    // background-image: url(../img/background.jpg);
    background-color: #444;
    color: $font-color;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    position: relative;

    .home-topbar {
        margin: 0 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .home-logo {
          height: 4em;
        }
        .home-logo, .button {
          margin-top: 10vh;
        }
    }
    .home-title {
        margin: 10vh 20%;
        display: flex;
        text-align: center;
        flex-direction: column;

        .page-subtitle {
          font-size: 1.2em;
        }
        .page-title {
          font-size: 3.5em;
          margin: 0;
        }
        .divider {
          width: 3em;
          border-top: medium solid $button-color;
          margin: .5em 50%;
          transform: translateX(-50%);
        }
        .page-description {
          font-size: 0.8em;
        }
        a.button {
          width: 10em;
          margin: 0 50%;
          transform: translateX(-50%);
        }
    }
    .home-scroll {
        font-size: 0.8em;
        position: absolute;
        left: 50%;
        bottom: 5vh;
        transform: translateX(-50%);
        @include transition(all, 0.4s, ease-out);

        .home-icon-container {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
        &:hover {
            color: $font-color-hover;
            border-color: $border-color-hover;
        }
    }
}

@media all and (max-width:450px), (max-height: 600px) { // width < 450px || height < 600px
  #home {
    font-size: 0.8rem;
  }
}

@media all and (max-width:350px), (max-height: 500px) { // width < 350px || height < 500px
  #home {
    font-size: 0.7rem;
  }
}

@media all and (max-height: 400px) {  // height < 400px
  #home {
    .title {
      margin: 5vh 10%;
    }
  }
}
