body{
  background-color: white;
  color: blacK;
  margin: 0;
  padding: 0;
}


section[id=eventsDetails]{

  position: relative;
  margin: 0;
  padding: 0;





  .event {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    div{
      vertical-align: top;


      .event-main {
        text-align: left;
        width: 900px;
        display: inline-block;

        .event-header {
          overflow: auto;

          h1 {
            font-size: 40px;
            margin: 0;
            font-weight: 100;
          }
          p {
            font-size: 20px;
            margin: 0;
          }
          h2 {
            font-size: 40px;
            font-weight: bolder;
            margin: 10px 0 60px 0;
          }
        }

        .event-body {
          display: flex;
          float: left;

          .time-container {
            vertical-align: top;
            width: 250px;
            h1{
              font-size: 40px;
              margin: 0;
            }
            h2{
              margin: 0;
              color: gray;
              font-size: 40px;
              font-weight: 100;
              width: 210px;
              sup{
                font-size: 25px;
              }
              border-bottom: solid 8px blue;

            }
          }

          .body-container {
            display: inline-block;
            text-align: left;
            padding-left: 100px;
            padding-right: 50px;


            p{
              margin-top: 10px;
              margin-bottom: 30px;
              font-size: 20px;
            }
            h3{
              margin-top: 60px;
            }
            ul{
              list-style-image: url('../../img/check.resized.jpg');
              li{
                margin-bottom: 15px;
              }
            }
          }

        }

      }

      .event-sidebar {
        display: inline-block;
        width: 200px;

        .img-container{
          position: relative;
          width: 200px;
          height: 200px;
          img {
            position: absolute;
            width: 200px;
            height: auto;
          }
          .border{
            position: absolute;
            width: 100px;
            height: 100px;
            bottom: -8px;
            right: -8px;
            background-color: blue;
          }
        }

        p{
          font-size: 14px;
        }
        .name{
          font-weight: bolder;
        }

        .description>p{
          color: gray;
          font-size: 14px;
        }

      }

    }

  }

}