{
  "plugins": [
    "node"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:node/recommended"
  ],
  "rules": {
    "node/exports-style": [
      "error",
      "module.exports"
    ]
  },
  "globals": {
    "$": true
  },
  "parserOptions": {
    "sourceType": "module"
  }
}