{
  "extends": "stylelint-config-sass-guidelines",
  "processors": ["stylelint-processor-html"],
  "rules": {
    "max-empty-lines": 1,
    "max-nesting-depth": 4,
    "selector-max-compound-selectors": 4,
    "selector-no-qualifying-type": null
  }
}
