body {
  background-color: white;
  color: blacK;
  margin: 0;
  padding: 0; }

section[id=eventsDetails] {
  position: relative;
  margin: 0;
  padding: 0; }
  section[id=eventsDetails] .event {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; }
    section[id=eventsDetails] .event div {
      vertical-align: top; }
      section[id=eventsDetails] .event div .event-main {
        text-align: left;
        width: 900px;
        display: inline-block; }
        section[id=eventsDetails] .event div .event-main .event-header {
          overflow: auto; }
          section[id=eventsDetails] .event div .event-main .event-header h1 {
            font-size: 40px;
            margin: 0;
            font-weight: 100; }
          section[id=eventsDetails] .event div .event-main .event-header p {
            font-size: 20px;
            margin: 0; }
          section[id=eventsDetails] .event div .event-main .event-header h2 {
            font-size: 40px;
            font-weight: bolder;
            margin: 10px 0 60px 0; }
        section[id=eventsDetails] .event div .event-main .event-body {
          display: flex;
          float: left; }
          section[id=eventsDetails] .event div .event-main .event-body .time-container {
            vertical-align: top;
            width: 250px; }
            section[id=eventsDetails] .event div .event-main .event-body .time-container h1 {
              font-size: 40px;
              margin: 0; }
            section[id=eventsDetails] .event div .event-main .event-body .time-container h2 {
              margin: 0;
              color: gray;
              font-size: 40px;
              font-weight: 100;
              width: 210px;
              border-bottom: solid 8px blue; }
              section[id=eventsDetails] .event div .event-main .event-body .time-container h2 sup {
                font-size: 25px; }
          section[id=eventsDetails] .event div .event-main .event-body .body-container {
            display: inline-block;
            text-align: left;
            padding-left: 100px;
            padding-right: 50px; }
            section[id=eventsDetails] .event div .event-main .event-body .body-container p {
              margin-top: 10px;
              margin-bottom: 30px;
              font-size: 20px; }
            section[id=eventsDetails] .event div .event-main .event-body .body-container h3 {
              margin-top: 60px; }
            section[id=eventsDetails] .event div .event-main .event-body .body-container ul {
              list-style-image: url("../img/check.resized.jpg"); }
              section[id=eventsDetails] .event div .event-main .event-body .body-container ul li {
                margin-bottom: 15px; }
      section[id=eventsDetails] .event div .event-sidebar {
        display: inline-block;
        width: 200px; }
        section[id=eventsDetails] .event div .event-sidebar .img-container {
          position: relative;
          width: 200px;
          height: 200px; }
          section[id=eventsDetails] .event div .event-sidebar .img-container img {
            position: absolute;
            width: 200px;
            height: auto; }
          section[id=eventsDetails] .event div .event-sidebar .img-container .border {
            position: absolute;
            width: 100px;
            height: 100px;
            bottom: -8px;
            right: -8px;
            background-color: blue; }
        section[id=eventsDetails] .event div .event-sidebar p {
          font-size: 14px; }
        section[id=eventsDetails] .event div .event-sidebar .name {
          font-weight: bolder; }
        section[id=eventsDetails] .event div .event-sidebar .description > p {
          color: gray;
          font-size: 14px; }
