section[class="about"] {
  color: $text-color;
  padding: 10vh 0;

  .about-header {
    margin-left: 20%;
    width: 40%;

    h2 {
      color: $akai-yellow;
      font-size: 1em;
    }
    h1 {
      color: $heading-color;
    }
    .divider {
      width: 3em;
      border-top: medium solid $akai-yellow;
    }
  }

  .about-columns {
    display: flex;
    align-items: flex-end;
    margin: 0 20%;

    .about-left {
      width: 50%;

      p:first-child {
        margin-top: 3em;
      }
      p:last-child {
        margin-bottom: 5vh;
      }
    }
    .about-right {
      width: 50%;

      img {
        width: 100%;
      }
    }
  }
}

// @media all and (max-width: 1700px) {
//   section[class="about"] {
//     .about-header, .about-columns {
//       margin: 0 15%;
//     }
//   }
// }
// @media all and (max-width: 1300px) {
//   section[class="about"] {
//     .about-header, .about-columns {
//       margin: 0 5%;
//     }
//   }
// }
@media all and (max-width: 1000px) {  // one column layout
  section[class="about"] {
    .about-header, .about-columns {
      margin-left: 15%;
      width: 70%;
    }
    .about-columns {
      flex-direction: column-reverse;
      align-items: center;

      .about-right, .about-left {
        width: 100%;

        p:first-child {
          margin-top: 0;
        }
        img {
          margin-top: 3em;
        }
      }
    }
  }
}

@media all and (max-width: 600px) {
  section[class="about"] {
    .about-header, .about-columns {
      margin-left: 10%;
      width: 80%;
    }
  }
}
