.collaboration-pricing {
  color: $heading-color;
  padding: 50px 0 100px;
  text-align: center;
  width: 100%;

  .divider {
    margin: 20px auto 30px;
  }

  .general-info {
    @include font-size(1.3);

    color: $text-color;
    line-height: 2.6rem;
    margin: 0 auto;
    max-width: 520px;
  }

  .collaboration-plans {
    margin: 50px -10px 10px;
    padding: 20px 10px;

    @include respond-to(large-desktop) {
      display: flex;
      overflow-x: auto;
    }

    @include respond-to(desktop) {
      display: flex;
      overflow-x: auto;
    }
  }

  .benefits {
    display: none;
    margin-right: 30px;
    max-width: 300px;
    min-width: 200px;
    text-align: left;

    @include respond-to(desktop) {
      display: block;
    }
    @include respond-to(large-desktop) {
      display: block;
    }

    .heading {
      @include font-size(1.6);

      align-items: flex-end;
      display: flex;
      font-weight: 600;
      margin: 40px 0 20px 10px;
    }
  }

  .plan {
    background-color: $akai-white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    padding: 20px;

    @include respond-to(small-mobile) {
      margin: 30px auto;
      width: auto;
    }

    @include respond-to(mobile) {
      margin: 30px auto;
      width: 70%;
    }

    @include respond-to(tablet) {
      margin: 30px auto;
      width: 50%;
    }

    @include respond-to(desktop) {
      max-width: 300px;
      min-width: 150px;
      width: 20%;

      &:last-of-type {
        margin-right: 0;
      }
    }
    @include respond-to(large-desktop) {
      max-width: 300px;
      min-width: 150px;
      width: 20%;

      &:last-of-type {
        margin-right: 0;
      }
    }

    .heading {
      margin-bottom: 30px;

      .name {
        border-radius: 10px;
        font-weight: 700;
        margin: 10px 0;
        padding: 10px 0;
      }

      .price {
        @include font-size(3);

        display: block;
      }

      .period {
        color: $text-color;
      }
    }
  }

  .benefits-list,
  .plan-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      align-items: center;
      border-radius: 10px;
      display: flex;
      margin: 10px 0;
      padding: 10px 15px;

      &:nth-child(2n) {
        background-color: $akai-white;
      }

      &:nth-child(2n+1) {
        background-color: $bg-color;
      }
    }

    .mobile-benefit {
      display: flex;
      @include respond-to(desktop) {
        display: none;
      }
      @include respond-to(large-desktop) {
        display: none;
      }

    }

    .desktop-benefit {
      display: none;
      @include respond-to(desktop) {
        display: flex;
      }
      @include respond-to(large-desktop) {
        display: flex;
      }
    }

    .available-benefit {
      color: $akai-blue;
    }

    .unavailable-benefit {
      color: $light-grey;
    }
  }

  .benefits-list li {
    color: $text-color;
  }

  .plan-list li {
    font-weight: 600;
    justify-content: center;
    text-align: center;

    span {
      &.tick {
        @include font-size(1.6);

        color: $akai-blue;
        font-weight: 700;
      }

      &.cross {
        color: $light-grey;
      }
    }
  }

  .additional {
    color: $text-color;
    margin: 0 auto 60px;
    max-width: 700px;

    .title {
      color: $heading-color;
      font-weight: 700;
    }
  }

  .cta {
    @include font-size(2.8);

    line-height: 1.3;
    margin-bottom: 40px;
  }

  .contact-btn {
    @include font-size(1.4);

    background: $akai-yellow;
    border: 0;
    border-radius: 25px;
    box-shadow: 0 5px 30px -5px $shadow;
    color: $white-text;
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    padding: 15px 45px;
    text-decoration: none;
    transition: background-color 0.3s ease-out;

    &:hover {
      background-color: $akai-yellow-darkened;
      color: $white-text;
    }
  }
}

.collaboration-copper {
  background-color: $collaboration-copper;
  color: $white-text;
}

.collaboration-bronze {
  background-color: $collaboration-bronze;
  color: $white-text;
}

.collaboration-silver {
  background-color: $collaboration-silver;
}

.collaboration-gold {
  background-color: $collaboration-gold;
}

.collaboration-diamond {
  background-color: $collaboration-diamond;
}
