.contact {
  color: $heading-color;
  padding: 50px 0;
  text-align: center;
  width: 100%;

  .contact-heading {
    font-size: 2.6rem;
  }

  .divider {
    margin: 30px auto;
  }

  .contact-info {
    @include font-size(1.3);

    color: $text-color;
    line-height: 2.6rem;
    margin: 0 auto 30px;
    max-width: 520px;
  }

  .contact-form {
    display: block;
    margin: 0 auto 30px;
    max-width: 350px;

    .email,
    .message {
      @include font-size(1.3);

      background: transparent;
      border: 0;
      border-bottom: $border;
      box-sizing: border-box;
      color: $text-color;
      font-family: inherit;
      opacity: 0.8;
      padding: 12px;
      width: 100%;

      &:focus {
        outline: none;
      }

      &.disable:invalid {
        border-color: $border-invalid;
      }
    }

    .message {
      margin: 20px 0 30px;
      resize: none;
    }

    .send-btn {
      @include font-size(1.4);

      background: $akai-yellow;
      border: 0;
      border-radius: 25px;
      box-shadow: 0 5px 30px -5px $shadow;
      color: $akai-white;
      cursor: pointer;
      font-family: inherit;
      font-weight: bold;
      padding: 15px 45px;
      transition: all 0.4s ease-out;

      &:hover {
        background-color: $akai-yellow-darkened;
        color: $akai-white;
      }
    }
  }
}
