.events {
  padding: 80px 0 60px;

  @include respond-to(mobile) {
    padding: 60px 0 40px;
  }
}

.event-detail {
  @include clearfix;

  display: flex;
  margin-bottom: 30px;
  text-align: center;

  @include respond-to(mobile) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .divider {
    margin: 8px 40px;

    @include respond-to(tablet) {
      margin: 8px 20px;
    }

    @include respond-to(mobile) {
      display: none;
    }
  }

  &--time {
    @include font-size(1.8);

    color: $heading-color;
    font-weight: 700;
    margin: 0;

    @include respond-to(mobile) {
      @include font-size(3);

      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      order: -3;
      text-align: center;
    }
  }

  &--description {
    @include font-size(1.3);

    color: $text-color;
    margin: 0;
    text-align: left;
    width: 65%;

    @include respond-to(mobile) {
      width: 100%;
    }
  }

  &--title {
    @include font-size(1.8);

    color: $heading-color;
    font-weight: 700;
    line-height: 1.3;
    margin-right: 50px;

    @include respond-to(mobile) {
      margin: 20px 0 0;
    }
  }

  &--author {
    @include font-size(1.4);

    color: $text-color;
    font-weight: 500;
    margin: 10px 0 25px;
  }

  &--toggle {
    @include font-size(1.4);

    color: $text-color;
    cursor: pointer;
    font-weight: 500;
    margin: 0 0 20px;
    padding: 0;
    text-decoration: underline;
  }

  &--more {
    color: $akai-grey;
    display: flex;
    height: 0;
    margin-top: 30px;
    overflow: hidden;
    padding-right: 20px;
    position: relative;
    text-align: justify;

    strong {
      color: $heading-color;
    }

    @include respond-to(tablet) {
      display: block;
    }

    @include respond-to(mobile) {
      display: block;
    }
  }

  &--about {
    margin-right: 15px;
    width: 50%;

    @include respond-to(tablet) {
      margin: 0 0 20px;
      width: 100%;
    }

    @include respond-to(mobile) {
      margin: 0 0 20px;
      width: 100%;
    }
  }

  &--learn {
    margin-left: 15px;
    width: 50%;

    @include respond-to(tablet) {
      margin-left: 0;
      width: 100%;
    }

    @include respond-to(mobile) {
      margin-left: 0;
      width: 100%;
    }

    ul {
      list-style-type: none;
      padding-left: 20px;
    }

    li {
      line-height: 1.8;
      margin-bottom: 10px;
      position: relative;

      &::before {
        color: $akai-yellow;
        content: '+';
        display: inline-block;
        font-size: 1.4em;
        font-weight: 500;
        left: -20px;
        position: absolute;
        top: -6px;
      }
    }
  }

  &--photo {
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
    position: relative;
    width: 15%;
    z-index: 10;

    @include respond-to(mobile) {
      height: 100px;
      order: -1;
      width: 100px;
    }

    &::before {
      @include font-size(14);

      color: $bg-color;
      font-weight: 700;
      height: auto;
      left: -60px;
      position: absolute;
      top: -20px;
      width: auto;
      z-index: 1;

      @include respond-to(mobile) {
        @include font-size(10);

        left: -40px;
        top: -15px;
      }
    }

    img {
      border-radius: 50%;
      box-shadow: 0 3px 30px -5px rgba(0, 0, 0, 0.75);
      height: auto;
      position: relative;
      width: 100%;
      z-index: 20;
    }
  }
}

$number-of-events: 4;
@for $i from 1 to ($number-of-events+1) {
  .event-detail:nth-child(#{$i}) > .event-detail--photo::before {
    content: unquote('"' + $i + '"');
  }
}
