.events {
  padding: 100px 0;
}

.event-detail {
  display: flex;
  text-align: center;
  margin-bottom: 30px;

  .divider {
    margin: 8px 40px;

    @include respond-to(mobile) {
      display: none;
    }
  }

  &--time {
    @include font-size(1.8);

    color: $heading-color;
    font-weight: 700;
    margin: 0;
  }

  &--description {
    @include font-size(1.3);

    color: $text-color;
    margin: 0;
    text-align: left;
    width: 65%;
  }

  &--title {
    @include font-size(1.8);

    color: $heading-color;
    font-weight: 700;
    margin-right: 50px;
  }

  &--author {
    @include font-size(1.4);

    color: $text-color;
    font-weight: 500;
    margin: 10px 0 25px;
  }

  &--toggle {
    @include font-size(1.4);

    color: $text-color;
    cursor: pointer;
    font-weight: 500;
    margin: 0;
    padding: 0;
    text-decoration: underline;
  }

  &--more {
    color: $akai-grey;
    display: flex;
    height: 0;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    text-align: justify;

    strong {
      color: $heading-color;
    }
  }

  &--about {
    width: 50%;
  }

  &--learn {
    width: 50%;

    ul {
      list-style-type: none;
    }

    li {
      margin-bottom: 10px;
      line-height: 1.8;
      position: relative;

      &::before {
        color: $akai-yellow;
        content: '+';
        display: inline-block;
        font-size: 1.4em;
        font-weight: 700;
        left: -25px;
        position: absolute;
        top: -6px;
      }
    }
  }

  &--photo {
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
    position: relative;
    width: 15%;
    z-index: 10;

    img {
      border-radius: 50%;
      box-shadow: 0 3px 30px -5px rgba(0, 0, 0, 0.75);
      height: auto;
      position: relative;
      width: 100%;
      z-index: 20;
    }
  }

  &--photo::before {
    color: #f5f5f5;
    font-size: 10em;
    font-weight: 900;
    height: auto;
    left: -60px;
    position: absolute;
    top: -40px;
    width: auto;
    z-index: 1;
  }
}

@include respond-to(tablet) {
  .event-detail {
    &--time {
      display: flex;
      margin-left: 10px;
      width: auto;
    }

    &--separator {
      align-items: center;
      display: flex;
      width: 50px;
    }

    &--photo {
      align-items: center;
      display: flex;
      height: 150px !important;
      margin-right: 10px;
      position: relative;
      width: 150px !important;
    }

    &--photo::before {
      font-size: 10em;
      left: -60px;
      top: -15px;
    }
  }
}

@include respond-to(mobile) {
  .event-detail {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 200px;

    &--time {
      align-items: center;
      font-size: 3rem;
      margin-left: 10px;
      margin-right: 10px;
      order: -3;
      text-align: center !important;
      width: auto;
    }

    &--separator {
      order: -2;
    }

    &--description {
      display: block;
      float: none;
      padding: 10px;
      padding-left: 30px;
      position: relative;
      width: 100%;
    }

    &--more {
      display: block;
    }

    &--learn,
    &--about {
      padding: 20px;
      width: auto;
    }

    &--photo {
      order: -1;
    }
  }
}

$number-of-events: 4;
@for $i from 1 to ($number-of-events+1) {
  .event-detail:nth-child(#{$i}) > .event-detail--photo::before {
    content: unquote('"' + $i + '"');
  }
}

@media screen and (max-width: 420px) {
  .event-detail {
    &--separator {
      display: none;
    }
  }
}

@media screen and (max-width: 360px) {
  .event-detail {
    &--time {
      font-size: 2rem;
    }

    &--photo {
      margin-right: 0;
    }
  }
}
