.gallery {
  margin: 10px 0;
  padding: 50px 0;
  
  .gallery-heading {
    text-align: center;

    &::after {
      background: $akai-yellow;
      content: '';
      display: block;
      height: 0.3rem;
      margin: 2rem auto;
      width: 4.5rem;
    }
  }

  .gallery-slider {
    box-shadow: 0 3px 30px -5px rgba(0, 0, 0, 0.75);
    margin: auto;
    margin-bottom: 2%;
    overflow: hidden;

    @include respond-to(large-desktop) {
      height: $desktop/1.5;
      width: $desktop;
    }

    @include respond-to(desktop) {
      $desktop: $desktop - 100;
      height: $desktop/1.5;
      width: $desktop;
    }

    @include respond-to(tablet) {
      $tablet: $tablet - 100;
      height: $tablet/1.5;
      width: $tablet;
    }

    @include respond-to(mobile) {
      $mobile: $mobile - 50;
      height: $mobile/1.5;
      width: $mobile;
    }

    @include respond-to(small-mobile) {
      $small-mobile: 280px;
      height: $small-mobile/1.5;
      width: $small-mobile;
    }

    img {
      height: auto;
      max-width: 100%;
    }
  }
}
