$home-color: #eee;

.home {
  background-attachment: fixed;
  background-image: url('../img/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white-text;
  height: 100vh;
  position: relative;

  a {
    color: inherit;
    text-decoration: none;

    &.button {
      @include font-size(1.4);

      background-color: $akai-yellow;
      border: 0;
      border-radius: 25px;
      color: $white-text;
      cursor: pointer;
      font-weight: 600;
      margin: 0 auto;
      padding: 15px 45px;
      transition: background-color 0.3s ease-out;

      &:hover {
        background-color: $akai-yellow-darkened;
      }
    }

    &.button-alt {
      @include font-size(1.3);

      background-color: transparent;
      border: 1px solid $white-text;
      margin: 0;
      padding: 10px 35px;
      transition: border-color 0.3s ease-out;

      &:hover {
        background-color: $akai-yellow;
        border-color: $akai-yellow;
      }
    }
  }

  .home-topbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;

    .home-logo {
      height: 40px;
    }
  }

  .home-title {
    display: flex;
    flex-direction: column;
    margin: 16vh 0;
    text-align: center;

    .page-subtitle {
      @include font-size(1.6);

      margin: 0 0 10px;
    }

    .page-title {
      @include font-size(4.8);

      margin: 0;
    }

    .divider {
      margin: 20px auto;
    }

    .page-description {
      @include font-size(1.4);

      line-height: 1.8;
      margin: 0 auto 50px;
      max-width: 600px;
    }
  }

  .home-scroll {
    @include font-size(1.3);

    bottom: 30px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);

    .home-icon-container {
      align-items: center;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      font-weight: 700;
      height: 100%;
      justify-content: flex-start;

      .home-scroll-description {
        margin-bottom: 10px;
      }
    }

    &:hover {
      color: $akai-yellow;
    }
  }

  @include respond-to(small-mobile) {
    .home-title {
      margin: 12vh 0;

      .page-title {
        @include font-size(4);
      }
    }
  }
}
