// Event details
$number-of-events: 4;

// Colors
$akai-white: #fff;
$akai-black: #000;
$akai-grey: #808080;
$akai-yellow: #f9a11b;
$akai-yellow-darkened: #fa7800;
$heading-color: #333;
$text-color: #666;
$white-text: #eee;
$bg-color: #f5f5f5;
$border-color: #c7c7c7;
$invalid: #c83939;
$shadow: #aaa;
