// Event details
$number-of-events: 4;

// Colors
$akai-white: #fff;
$akai-black: #000;
$akai-grey: #808080;
$akai-yellow: #f9a11b;
$akai-yellow-darkened: #fa7800;
$akai-blue: #0f0b88;
$heading-color: #333;
$text-color: #666;
$white-text: #eee;
$bg-color: #f5f5f5;
$border-color: #c7c7c7;
$invalid: #c83939;
$shadow: #aaa;
$light-grey: #dedede;
$section-dark-background: #2f3640;

// collaboration colors
$collaboration-copper: #bb6549;
$collaboration-bronze: #9b5829;
$collaboration-silver: #d3d3d3;
$collaboration-gold: #ffd700;
$collaboration-diamond: #b9f2ff;
